/*            */
/* Navigation */
/*            */

nav {
    background-color: grey;
}

.navbuttons,
.recipebutton {
    list-style-type: none;
    display: flex; 
    justify-content: space-around;
}




/*                       */
/* Heading and Odin logo */
/*                       */

.heading {
    font-family: 'Caesar Dressing', cursive;
    font-size: 100px;
    text-align: center;
}

.odin-logo {
    height: 8rem;
    width: auto;
    display: flex;
    justify-content: center;
}

