/*            */
/* Navigation */
/*            */

.navbar-contents {
    background-color: white;
    display: flex;
    justify-content: space-between;
    border-bottom: black 3px solid ;
}

.navbuttons {
    list-style-type: none;
    display:flex;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    float: left;
    padding: 4px;
}

button {
    border: none;
    background-color: white;
    font-family: 'Caesar Dressing', cursive;
    font-size: 17px;
}

button:hover {
    opacity: 0.3;
    transition: 0.6;
}

.right-nav {
    display: flex;
    float: right;
    height: 5px;
    width: auto;
    margin-right: 2rem;
}

.nav-logo {
    height: 50px;
    width: auto;
}